.buttonContainer {
    height: 80%;
    background-color: rgba(0, 169, 145, 1);
    aspect-ratio: 1;
    border-radius: 9px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.45s ease;
}

.vector {
    width: 40%;
}

.buttonContainer:hover{
    opacity: 0.5;
}