@import url('https://fonts.googleapis.com/css2?family=Vazirmatn&display=swap');


.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-color: red; */
    justify-content: space-between;
}

.upContainer {
    text-align: end;
}

.general {
    font-family: 'Vazirmatn', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.72px;
}

.up {
    font-size: 1.4vw;
    color: var(--foundation-green-normal, #00A991);
    cursor: pointer;
    transition: all 0.45s ease;
    margin-left: 3%;
}

.down {
    font-size: 2.8vw;
}