.carousel {
    position: relative;
    width: 100%;
}

.caro {
    position: relative;
    width: 100%;
    aspect-ratio: 2.07;

}

.imageDiv {

    /* background-image: url(src/images/paloVerdeCaracas.jpg); */
    width: 100%;
    aspect-ratio: 2.07;
    
    /* background-size: cover; */
    /* background-position: 50%; */

    border: 1px solid rgba(0, 0, 0, 0.1);
    filter: blur(2px);
}

.arrow {
    position: absolute;
    top: 50%;
    width: 2.4vw;
    filter: none;
    cursor: pointer;
    transition: all 0.45s ease;

    /* position: absolute; */
    z-index: 999;
    background-color: transparent;
    border: transparent;
    /* width: 50px; */
}

.arrow:hover {
    opacity: 0.5;
}

.left {
    left: 0.5%;
}

.right {
    right: 0.5%;
}