.button {
    width: 65%;
    background: var(--foundation-green-normal, rgba(0, 135, 116, 1));
    color: #fff;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    
}

.button:hover{
    opacity: 0.5;
    
}