.container {
    display: flex;
    /* background-color: yellow; */
    min-width: 30%;
    min-height: 10%;
    /* aspect-ratio: 6; */

    justify-content: space-between;
    align-items: center;
}

.value{
    /* background-color: transparent; */
    border: 0px solid transparent;
    /* height: 100%; */
    width: 2vw;
    aspect-ratio: 1;
    text-align: center;
}